# Foundations of Python Network Programming
# "requirements.txt" for Python 3
# Makes it possible to run every script in the book

beautifulsoup4==4.4.0
cssselect==0.9.1
dnspython==1.12.0
ghost.py==0.1b3
httpbin==0.2.1
imapclient==0.13.0
jsonrpclib-pelix==0.2.5
lxml==3.3.3
paramiko==1.15.2
pygeocoder==1.2.5
python3-memcached==1.51
pyzmq==14.0.1
requests==2.20.0
rpyc==3.3.0
selenium==2.47.1
webob
werkzeug
