html {
    text-align: center;
}
body {
    display: inline-block;
}
ul {
    text-align: left;
}
li {
    display: block;
    margin: 2px;
    padding: 2px 4px;
}
li.c {
    background-color: lightgreen;
}
li.p {
    background-color: pink;
}
form {
    display: block;
    float: left;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #aaa;
    border: 1px solid black;
}
label {
    display: block;
    text-align: center;
}
