diagrams/*.png
diagrams/*.svg
*.old
*.db
*.sqlite3
playground/base/id_rsa
playground/base/id_rsa.pub
playground/base/requirements2.txt
playground/base/requirements.txt
playground/.vagrant
playground/package.box
