[ ca ]
default_ca = test_ca

[ test_ca ]
database = ca_certificates.db
default_md = default
policy = policy_any
serial = ca_serial.txt

[ policy_any ]
# Copied from example at http://www.openssl.org/docs/apps/ca.html
countryName            = supplied
stateOrProvinceName    = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional

[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
countryName                     = us
stateOrProvinceName             = New York
localityName                    = New York
0.organizationName              = Example CA from Apress Media LLC
organizationalUnitName          = Foundations of Python Network Programming 3rd Ed
commonName                      = ca
emailAddress                    = ca@example.com

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
