[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
countryName                     = us
stateOrProvinceName             = New York
localityName                    = New York
0.organizationName              = Example from Apress Media LLC
organizationalUnitName          = Foundations of Python Network Programming 3rd Ed
commonName                      = www.example.com
emailAddress                    = root@example.com

[ ssl_client ]
basicConstraints = CA:FALSE
nsCertType = client
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
