# Foundations of Python Network Programming
# "requirements.txt" for Python 2
# For running as many Third Edition scripts as possible

beautifulsoup
cssselect
dnspython
ghost.py==0.1b3
httpbin
imapclient
jsonrpclib-pelix
lxml
paramiko
pygeocoder
python-memcached
pyzmq
requests
rpyc
selenium
webob
werkzeug
