{% extends "base.html" %}
{% block title %}{% block title2 %}Welcome, {{ user.username }}
{% endblock %}{% endblock %}
{% block content %}
{% with messages=get_flashed_messages %}
  {% if messages %}
    <div class="flash_message">
      {% for message in messages %}{{ message }}<br>{% endfor %}
    <a href="/">&times;</a></div>
  {% endif %}
{% endwith %}
<p>Your Payments</p>
<ul>
  {% for p in payments %}
    <li class="{{ p.prep }}">${{ p.dollars }} {{ p.prep }}
    <b>{{ p.account }}</b> for: <i>{{ p.memo }}</i></li>
  {% endfor %}
</ul>
<a href="/pay">Make payment</a> | <a href="/logout">Log out</a>
{% endblock %}
